In [1]:
# Dependecies 
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import csv

In [2]:
# read and create dataframe

movie_load = 'movie_data.csv'
#movie_load = os.path.join('movie_data.csv')
movie_df = pd.read_csv(movie_load, encoding= 'utf8')
movie_df.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [3]:
#rename columns and repositions
movie_df = movie_df.rename(columns={'color': 'Color', 'director_name': 'Director', 
                                    'num_critic_for_reviews': 'Number of Critic Reviews', 
                                    'duration': 'Duration (Minutes)','director_facebook_likes': 'Facebook Likes (Director)',
                                    'actor_3_facebook_likes': 'Facebook Likes (Actor 3)', 
                                    'actor_2_name': 'Actor 2', 'actor_1_facebook_likes': 'Facebook Likes (Actor 1)', 
                                    'gross': 'Gross Income', 'genres' : 'Genere', 'actor_1_name': 'Actor 1',
                                    'movie_title': 'Movie Title', 'num_voted_users': 'Number of User Votes', 
                                    'cast_total_facebook_likes': 'Total Facebook Likes',
                                    'actor_3_name': 'Actor 3', 'facenumber_in_poster': 'Number of Faces in Poster', 
                                    'plot_keywords': 'Plot Keywords', 'movie_imdb_link': 'IMDB Movie Link', 
                                    'num_user_for_reviews': 'Number of User Reviews', 'language': 'Language', 
                                    'country': 'Country', 'content_rating': 'Content Rating', 
                                    'budget': 'Budget', 'title_year': 'Year', 
                                    'actor_2_facebook_likes': 'Facebook Likes (Actor 2)', 'imdb_score': 'IMDB Score',
                                    'aspect_ratio': 'Aspect Ratio', 'movie_facebook_likes': 'Total Facebook Likes'})

movie_df.head(5)

,Color,Director,Number of Critic Reviews,Duration (Minutes),Facebook Likes (Director),Facebook Likes (Actor 3),Actor 2,Facebook Likes (Actor 1),Gross Income,Genere,...,Number of User Reviews,Language,Country,Content Rating,Budget,Year,Facebook Likes (Actor 2),IMDB Score,Aspect Ratio,Total Facebook Likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [4]:
#create genere list
#genfive = pd.Series(list(movie_df["Genere"]))
gen = pd.get_dummies(movie_df['Genere'].str.split('|').apply(pd.Series).stack()).sum(level=0)
gen.head()
#git rm --cached

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,Mystery,News,Reality-TV,Romance,Sci-Fi,Short,Sport,Thriller,War,Western
0,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
1,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
new_movie_df = pd.merge(movie_df, gen, left_index=True, right_index=True)
new_movie_df.columns

Index(['Color', 'Director', 'Number of Critic Reviews', 'Duration (Minutes)',
       'Facebook Likes (Director)', 'Facebook Likes (Actor 3)', 'Actor 2',
       'Facebook Likes (Actor 1)', 'Gross Income', 'Genere', 'Actor 1',
       'Movie Title', 'Number of User Votes', 'Total Facebook Likes',
       'Actor 3', 'Number of Faces in Poster', 'Plot Keywords',
       'IMDB Movie Link', 'Number of User Reviews', 'Language', 'Country',
       'Content Rating', 'Budget', 'Year', 'Facebook Likes (Actor 2)',
       'IMDB Score', 'Aspect Ratio', 'Total Facebook Likes', 'Action',
       'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime', 'Documentary',
       'Drama', 'Family', 'Fantasy', 'Film-Noir', 'Game-Show', 'History',
       'Horror', 'Music', 'Musical', 'Mystery', 'News', 'Reality-TV',
       'Romance', 'Sci-Fi', 'Short', 'Sport', 'Thriller', 'War', 'Western'],
      dtype='object')

In [6]:
new_movie_df = new_movie_df[['Movie Title','Year', 'Content Rating', 'Duration (Minutes)', 'Budget',
                             'Gross Income', 'Director', 'Actor 1', 
                             'Actor 2', 'Actor 3', 'Number of Faces in Poster',
                             'IMDB Score', 'Number of User Votes', 'Number of Critic Reviews', 
                             'Number of User Reviews', 'Facebook Likes (Director)', 'Facebook Likes (Actor 1)',
                             'Facebook Likes (Actor 2)', 'Facebook Likes (Actor 3)', 'Aspect Ratio',
                             'Genere', 'Action', 'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime', 
                             'Documentary', 'Drama', 'Family', 'Fantasy', 'Film-Noir', 'Game-Show', 
                             'History', 'Horror', 'Music', 'Musical', 'Mystery', 'News', 'Reality-TV', 
                             'Romance', 'Sci-Fi', 'Short', 'Sport', 'Thriller', 'War', 'Western']]
new_movie_df.head()

,Movie Title,Year,Content Rating,Duration (Minutes),Budget,Gross Income,Director,Actor 1,Actor 2,Actor 3,...,Mystery,News,Reality-TV,Romance,Sci-Fi,Short,Sport,Thriller,War,Western
0,Avatar,2009.0,PG-13,178.0,237000000.0,760505847.0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,...,0,0,0,0,1,0,0,0,0,0
1,Pirates of the Caribbean: At World's End,2007.0,PG-13,169.0,300000000.0,309404152.0,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,...,0,0,0,0,0,0,0,0,0,0
2,Spectre,2015.0,PG-13,148.0,245000000.0,200074175.0,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,...,0,0,0,0,0,0,0,1,0,0
3,The Dark Knight Rises,2012.0,PG-13,164.0,250000000.0,448130642.0,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,...,0,0,0,0,0,0,0,1,0,0
4,Star Wars: Episode VII - The Force Awakens ...,NaN,NaN,NaN,NaN,NaN,Doug Walker,Doug Walker,Rob Walker,NaN,...,0,0,0,0,0,0,0,0,0,0

In [7]:
#Drop NaN
drop_df = new_movie_df.dropna()
drop_df.head()
condf = drop_df
drop_df.columns

Index(['Movie Title', 'Year', 'Content Rating', 'Duration (Minutes)', 'Budget',
       'Gross Income', 'Director', 'Actor 1', 'Actor 2', 'Actor 3',
       'Number of Faces in Poster', 'IMDB Score', 'Number of User Votes',
       'Number of Critic Reviews', 'Number of User Reviews',
       'Facebook Likes (Director)', 'Facebook Likes (Actor 1)',
       'Facebook Likes (Actor 2)', 'Facebook Likes (Actor 3)', 'Aspect Ratio',
       'Genere', 'Action', 'Adventure', 'Animation', 'Biography', 'Comedy',
       'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy', 'Film-Noir',
       'Game-Show', 'History', 'Horror', 'Music', 'Musical', 'Mystery', 'News',
       'Reality-TV', 'Romance', 'Sci-Fi', 'Short', 'Sport', 'Thriller', 'War',
       'Western'],
      dtype='object')

In [8]:
#Convert to $

condf['Budget']=drop_df['Budget'].map('${:,.2f}'.format)
condf['Gross Income']=drop_df['Gross Income'].map('${:,.2f}'.format)
condf['Number of User Votes']=drop_df['Number of User Votes'].map('{:,.0f}'.format)
condf['Number of Critic Reviews']=drop_df['Number of Critic Reviews'].map('{:,.0f}'.format)
condf['Number of User Reviews']=drop_df['Number of User Reviews'].map('{:,.0f}'.format)
condf['Facebook Likes (Director)']=drop_df['Facebook Likes (Director)'].map('{:,.0f}'.format)
condf['Facebook Likes (Actor 1)']=drop_df['Facebook Likes (Actor 1)'].map('{:,.0f}'.format)
condf['Facebook Likes (Actor 2)']=drop_df['Facebook Likes (Actor 2)'].map('{:,.0f}'.format)
condf['Facebook Likes (Actor 3)']=drop_df['Facebook Likes (Actor 3)'].map('{:,.0f}'.format)
condf['Year']=drop_df['Year'].map('{:.0f}'.format)
condf['Duration (Minutes)']=drop_df['Duration (Minutes)'].map('{:,.0f}'.format)
condf['Number of Faces in Poster']=drop_df['Number of Faces in Poster'].map('{:,.0f}'.format)
#condf.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [9]:
condf.to_csv("Clean_Data.csv")